.container {
  position: relative;
 width: fit-content;
 padding: 20px;
 display: flex;
 color: white;
  margin:auto;
  justify-content: center;
  gap: 50px;
  height: 100%;
 }

 .container a{
  position: relative;
 }

.subContainer{
 width: 300px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 gap: 20px;
 padding: 50px;
 max-height: 100%;
 box-shadow: inset 0px 0px 10px black;
 border-radius: 10px;
 font-size: 20px;
 white-space: nowrap;

}


.image {
  width: 500px;
  height: 700px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px aqua;
  transition: ease-in-out .25s;
  height: 100%;
 
}
.image:hover{
  scale: 1.01;
  cursor: pointer;
  box-shadow:  0px 0px 15px rgb(212, 255, 0);
}
.model{
 color:rgb(0, 255, 217);
 margin-top: 10px;
}
.name{
  margin-top: 20px;
  color: chartreuse;
}
.year{
  color: yellow;
  
}
.distance{
  color: brown;
}
.price { 
  color :rgb(185, 52, 230);
}
.location{
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
}

.money{
  filter: invert(100%);
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
}
.latest{
 position: absolute;
  left: 0px;
 background-color: rgba(255, 0, 0, 0.66);
 padding: 20px;
 border-radius: 10px;
 color: black;
 font-weight: bold;
 }

.nextSvg svg{
  position: absolute;
  right:-30px;
  top: 50%;
  scale: 3;
  transition: .1s ease;
  cursor: pointer;
}
.nextSvg svg:active{
  scale: 3.5;
  color: red;
}
.prevSvg svg{
  position: absolute;
  left:-30px;
  top: 50%;
  scale: 3;
  transition: .1s ease;
  cursor: pointer;
}
.prevSvg svg:active{
  scale: 3.5;
  color: red;
}

 @media  screen and (min-width:720px) and (max-width:1210px) {

  .image{
    width: 300px;
  }

  .latest{
    padding: 10px;
    font-size: 10px;
  }
  .subContainer{
    min-width: 100px;
    font-size: 15px;
 }

  .right svg{
      scale: 2.5;
   
  }

  .left svg{
      scale: 2.5;
  }

  .left svg:hover{
      scale: 3;
  }

  .right svg:hover{
      scale: 3;
  }

  .fadeR svg{
      scale: 2.5;

  }

  .fadeL svg{
      scale: 2.5;

  }

}

 @media  screen  and (min-width:450px) and (max-width:768px) {

  .container{
    display: flex;
    flex-direction: column;
    height: 700px;
  }
  .image{
    max-width: 300px;
    max-height: 250px;
  }

  .subContainer{
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    max-height: 220px;
    font-size: 10px;
  
  }

   .left svg{
    top: 25%;
    left: 0px;
   }

   .right svg{
    top: 25%;
    right: 0px;
   }

   .fadeL svg{
    top: 25%;
    left: 0px;
   }

   .fadeR svg{
    top: 25%;
    right: 0px;
   }
  
 }


 @media screen and (max-width : 450px) {

  .container{
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 300px;
  }

  .subContainer {
    width: 100%;
    font-size: 12px;
    margin: auto;
    height: fit-content;
    padding: 0px 50px;
  }

  .latest{
    padding: 10px;
    font-size: 12px;

  }
  .image{
    width: 100%;
    margin: auto;
  }
 }

